{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-3 p-2 d-flex justify-content-center">
        <div class="col-md-6">
            <form action="{{ url_for('register_user') }}" method="post">
                <div class="justify-content-center">
                    <h2>Registration</h2>
                    <div class="m-2">
                      <label class="form-label" for="form3Example1c">Username</label>
                      <input type="text" id="form3Example1c" name="username" class="form-control" minlength="3" maxlength="15" required/>
                    </div>

                    <div class="m-2">
                      <label class="form-label" for="form3Example4c">Password</label>
                      <input type="password" id="form3Example4c" name="password" class="form-control" minlength="3" maxlength="15" required/>
                    </div>

                    <div class="m-2 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-sm">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}